ytd-watch-metadata {
	/* display: none !important; */
	height: 0px;
	margin-bottom: 0px!important;
	visibility: hidden;
}
#owner,#bottom-row{
	display: none!important;
}
ytd-video-primary-info-renderer[flex-menu-enabled] #menu-container.ytd-video-primary-info-renderer,ytd-watch-metadata[flex-menu-enabled] #actions.ytd-watch-metadata{
	flex: none;
}
#top-row.ytd-watch-metadata {
	flex-direction: row-reverse;
}
.ryd-tooltip.ryd-tooltip-new-design {
	visibility: visible;
}
