ytd-watch-metadata {
	/* display: none !important; */
	height: 0px;
	margin-bottom: 2px!important;
	visibility: hidden;
}
#owner>#subscribe-button{
	display: none;
}
#actions.ytd-watch-metadata{
	margin-right: 10px;
display: block;
}
ytd-video-primary-info-renderer[flex-menu-enabled] #menu-container.ytd-video-primary-info-renderer,ytd-watch-metadata[flex-menu-enabled] #actions.ytd-watch-metadata{
	flex: none;
}
ytd-watch-metadata[modern-metapanel-order] #owner.ytd-watch-metadata{
	min-width: fit-content!important;
}
.ryd-tooltip.ryd-tooltip-new-design {
	visibility: visible;
}
